
{% extends 'layout.html' %}

{% block body %}

    <h1>heat_exchangers</h1>

<div class="condensers">
    <div class="condenser-items">
        <div class="img">
            <img src="{% static 'images\ammonia-condenser.jpg' %}" alt="Ammonia Condenser" width="250px" height="250px">
        </div>
        <div class="det">
            <div class="condenser-items-details">
                <h3>Ammonia Condenser</h3>
                <p>
                    Leveraging on the proficiency of our professionals, we are engaged in offering
                    an extensive gamut of Ammonia Condenser. Our products are highly demanded
                    acknowledged by the clients due to their superior quality and effectiveness.
                    These products are manufactured in compliance with the industrial as well as
                    international standards of quality.
                </p>
            </div>
            <div class="button">
                <button>Know More</button>
            </div>
        </div>
    </div>

    <div class="condenser-items">
        <div class="img">
            <img src="{% static 'images\condenser.jpg' %}" alt="Condenser" width="250px" height="250px">
        </div>
        <div class="det">
            <div class="condenser-items-details">
                <h3>Condensers</h3>
                <p>
                    The condenser is employed in a variety of industries as an economical means of removing air, exhaust
                    steam and other vapors from vacuum equipment. It has been used for decades in the food industry for
                    processing edible oil, milk and other products. Other industries using the barometric condenser include
                    alcohol plants and distilleries.
                </p>
            </div>
            <div class="button">
                <button>Know More</button>
            </div>
        </div>
    </div>

    <div class="condenser-items">
        <div class="img">
            <img src="{% static 'images\surface-condenser.jpg' %}" alt="Surface Condenser" width="250px" height="250px">
        </div>
        <div class="det">
            <div class="condenser-items-details">
                <h3>Surface Condensers</h3>
                <p>
                    Owing to our years of experience, we are able to offer a wide array of Surface Condensers to our
                    respected clients. Superior quality raw material and high edge machines are used in the manufacturing
                    process. The products offered by us are in strict compliance with the global quality standards.
                    Available in varied specifications, these products are used to condense turbine exhaust steam in
                    mechanical drive applications or power generating and develop a vacuum at the turbine thereby enhancing
                    the overall efficiency of cycle.
                </p>
            </div>
            <div class="button">
                <button>Know More</button>
            </div>
        </div>
    </div>
</div>

{% endblock %}