*{
    padding:0;
    margin:0;
    text-decoration:none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: rgba(0, 32, 63, 0.8);
    height:80px;
    width:100%;
    position: fixed;
}

label.logo{
    color: #ADEFD1FF;
    font-size: 30px;
    line-height: 80px;
    padding: 0 40px;
    font-weight: bold;
    cursor: pointer;
}

nav ul{
    float: right;
    margin-right:20px;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a{
    color: #ADEFD1FF;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 20px;
    text-decoration: none;
    line-height: 80px;
}

nav ul li a:hover{
    text-decoration: none;
    color: #ADEFD1FF;
}


.checkbtn{
    font-size: 30px;
    color: #ADEFD1FF;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media(max-width: 1150px){
    label.logo{
        font-size: 20px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media(max-width: 1050px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    nav ul li a:hover{
        text-decoration: none;
        color: #ADEFD1FF;
    }
    #check:checked ~ ul{
        left: 0;
    }
}

.short-text { display: none; }

@media (max-width: 600px) {
    .short-text { display: inline-block; }
    .full-text { display: none; }
}

.name{
    background: #ADEFD1FF;
    height: 730px;
    width:100%;
    padding-top: 1px;
}

.cname{
    margin-left: 7%;
    margin-top: 250px;
    font-weight: bold;
    color: #00203FFF;
    font-size: 60px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}

.details{
    margin-left: 70%;
    margin-right: 7%;
    font-weight: 500;
    color: #00203FFF;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.policy{
    width: 100%;
    height: 621px;
}

.heading{
    margin: auto;
    width: 50%;
    font-size: 55px;
    margin-top: 30px;
    font-weight: 600;
    text-align: center;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}

.content{
    margin: auto;
    width: 50%;
    text-align: center;
    margin-top: 20px;
    font-weight: 400;
    font-size: 30px;
    font-family: Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
}




@media (max-width: 900px) {
    .details{
        margin: auto;
        width: 50%;
        text-align: center;
        font-size: 18px;
    }
    .cname{
        margin: auto;
        width: 50%;
        margin-top: 250px;
        font-size: 50px;
        text-align: center;
    }

    .heading{
        font-size: 45px;
    }
    .content{
        font-size: 25px;
    }
}