
{% extends 'layout.html' %}
{% load static %}

{% block body %}

    <div class="about_container">     
        <div class="box1">        
            <img src="https://5.imimg.com/data5/UZ/GS/GS/SELLER-12904294/writing-wooden-pad-500x500.jpg">
        </div>   
        <div class="box">        
            <h1>Shree Ram Engineers</h1>
            <p>
            Established in the year 2007, we, “Shree Ram Engineers”, are engaged in manufacturing and supplying a wide array of
            Industrial Vessels, Heat Exchangers, Air Receivers & Dryers, Heavy Structure Works, Storage Tanks and Industrial
            Reactors. Our comprehensive range comprises Pressure Vessels, Stainless Steel Vessels, Limped Coil Pressure Vessels,
            Surface Condensers, Shell And Tube Heat Exchangers and Double Tube Sheet Heat Exchanger. In addition to this, we offer
            Oil Coolers, U Tube Heat Exchangers, Straight Heat Exchangers, Air Receivers and many more. These products are
            manufactured using supreme quality stainless steel and latest technology machines. Our products are acknowledged for
            their striking features such as low power consumption, corrosion resistance, perfect finish, trouble-free performance,
            smooth operations, longer service life and sturdy construction. We offer these products in different sizes, shapes and
            other specifications to our patrons, who are spread all around the nation. Apart from the products, we render
            Fabrication Services and Maintenance & Retubing Services. These services are known for their timeliness, flexibility and
            reliability.</p>
            
            <p>
            We have established a sound and sophisticated infrastructure unit, wherein all our business activities are carried out
            in a systematic manner. Our unit is managed by a team of professionals, which holds several years of experience and
            detailed knowledge of the domain. These professionals work in harmony with each other in order to attain set goals of
            the organization. Our researchers conduct extensive market research and suggest innovative & cost-effective production
            techniques. Further, we have a team of quality controllers, which closely supervises the entire manufacturing process to
            make sure that all the resources are used in a judicious manner. These professionals check every product on various
            parameters before final delivery in order to make sure that only zero-defect range is dispatched from our premises.
            Furthermore, we have a spacious warehousing facility, wherein all the products are stored in a categorical manner. The
            unit is manned by a team of skilled warehousing professionals, which labels and stores the products as per their
            respective categories. These professionals clean the unit on regular basis and keep it free from dust, dirt as well as
            moisture. They keep an eye on the incoming and outgoing process of inventory. Owing to our quality-approved products and
            ethical business strategies, we have been able to maintain long lasting relations with our customers.</p>
            
            <p>Under the profound guidance of our partners, "Mr. Dinesh Panchal", "Mr. Chetan Panchal", we have
            been able to achieve new height of success. Their rich industry experience, detailed knowledge of the domain and
            brilliant managerial skills have enabled us to carve a favourable niche for ourselves.</p>
        </div>
        <div class="box">
            <h1>Our Team</h1>
            <p>We are supported by a team of proficient professionals, which helps us in carrying out all the business activities. Our
            professionals have thorough knowledge to use latest machines that are required in manufacturing our range of Waste Tyre
            Recycle Plant, Industrial Vessels, Heat Exchangers, Air Receivers & Dryers, Heavy Structure Works and many. We have a
            team of researchers, which executes market research and enable us to add new dimensions to the existing range. They also
            suggest innovative and cost-effective techniques of production. Our professionals work in tandem with each other and
            manufacture each product as per the specifications provided by the patrons. Further, to keep our professionals updated
            with the changing technology and cost-effective production techniques, we organize training sessions on regular basis.</p>
            <h4>
                Our team includes the following members:
            </h4>
            <ul>
                <li>Engineers</li>
                <li>Technicians</li>
                <li>Researchers</li>
                <li>Quality controllers</li>
                <li>Warehousing professionals</li>
                <li>Sales & marketing executives</li>
            </ul>
            <h4>Men Power STRENGTH</h4>
            <ul>                
                <li>Engineer : 06</li>
                <li>Skilled : 14</li>
                <li>Semi skilled : 20</li>
                <li>Un skilled : 36</li>
                <li>Quality persons : 02</li>
                <li>production persons : 04</li>
                <li>Commercial persons : 02</li>
                <li>APPROVED WELDER IN IBR, EIL, LRS, TUV, DNV, BVIS (Third party agencies)</li>
            </ul>
        </div>

        <div class="box"> 
            <h1>Our Infrastructure</h1>
            <p>
            We have constructed an ultramodern infrastructure facility at Kathwada, Ahmadabad. The unit is segregated into several
            sections in order to carry out all the business activities in a streamlined manner. These sections include
            manufacturing, quality control, warehousing & packaging and administrative. All these sections are installed with the
            advanced technology machines and other resources that are essential in manufacturing Waste Tyre Recycle Plant,
            Industrial Vessels, Heat Exchangers, Air Receivers & Dryers, Heavy Structure Works and many more. Further, we lubricate
            these machines at regular intervals to avoid technical faults and manufacture the products in bulk.
            </p>
        </div>   
              
        <div class="box">
            <h1>Why Us?</h1>
            <h4>A few factors that have helped us emerge as an unchallenged market leader in our arena are:</h4>
            <ul style="text-decoration: dotted;">
                <li>Quality-assured variety of products</li>
                <li>Economical product pricing policy</li>
                <li> product supply chain</li>
                <li>Expedite delivery of consignments</li>
                <li>Strong focus on customer delight</li>
            </ul>
        </div>



        <!-- <div class="box">
        </div>
        <div class="svg_img">
            <div class="mySlides fade">
            <img src="https://aathifrupay.com/Content/HomeContentV2/images/about-us.png" style="width:100%" height="100%"> 
            </div>             
        </div>
         <div class="team_disc box1">
            <h1>Our Team</h1>
            <h4>MEN POWER STRENGTH:</h4>                
            <h6>ENGINEER : 06</h6>
            <h6>SKILLED : 14</h6>
            <h6>SEMI SKILLED : 20</h6>
            <h6>UN SKILLED : 36</h6>
            <h6>QUALITY PERSONS : 02</h6>
            <h6>PRODUCTION PERSONS : 04</h6>
            <h6>COMMERCIAL PERSONS : 02</h6>
            <h6>APPROVED WELDER IN IBR, EIL, LRS, TUV, DNV, BVIS (Third
                party agencies)</h6>                        
        </div>  -->
        
        <div class="box">
            <h1>Brocheure</h1>
            <div class="brochure-pdf">
                <embed src="{% static 'images\shree-ram-engineers.pdf' %}" type="application/pdf" frameBorder="0" scrolling="auto"
                    height="300px" width="80%">
                </embed>
            </div>
        </div>
        
        
        <div class="map">
            <h1>Reach Us</h1>
            <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=1300&amp;height=500&amp;hl=en&amp;q=K.R.Raval School&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://www.fridaynightfunkin.net/">Friday Night Funkin</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:500px;margin-top:30px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:500px;}.gmap_iframe {height:500px!important;}</style></div>
        </div>
    </div>
        {% endblock %}