
{% extends 'layout.html' %}

{% block body %}

    <div class="about_container">     
        <div class="box1">
            <h1>Who we are ?</h1>
        </div>   
        <div class="box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus commodi repudiandae natus numquam voluptatum unde provident doloribus ut, sed saepe ea labore nesciunt quaerat est doloremque fuga sapiente? Dolorum, nesciunt.
        </div>
        <div class="box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus commodi repudiandae natus numquam voluptatum unde
            provident doloribus ut, sed saepe ea labore nesciunt quaerat est doloremque fuga sapiente? Dolorum, nesciunt.
        </div>
        <div class="box1"> 
            <h1>Our Business Model</h1>
        </div>   
              
        <div class="box1">
            <h1>Our Goals</h1>
        </div>
        <div class="box">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus commodi repudiandae natus numquam voluptatum unde
            provident doloribus ut, sed saepe ea labore nesciunt quaerat est doloremque fuga sapiente? Dolorum, nesciunt.
        </div>
        <div class="svg_img box">
            <!-- <div class="mySlides fade"> -->
            <img src="https://aathifrupay.com/Content/HomeContentV2/images/about-us.png" style="width:100%" height="100%">
            <!-- </div>             -->
        </div>
        <div class="team_disc box1">
            <h1>Our Team</h1>
            <h4>MEN POWER STRENGTH:</h4>                
            <ul>
                <ul>
                    <li>ENGINEER : 06</li>
                    <li>SKILLED : 14</li>
                    <li>SEMI SKILLED : 20</li>
                    <li>UN SKILLED : 36</li>
                </ul>
                <ul>
                    <li>QUALITY PERSONS : 02</li>
                    <li>PRODUCTION PERSONS : 04</li>
                    <li>COMMERCIAL PERSONS : 02</li>
                </ul>
                <li>APPROVED WELDER IN IBR, EIL, LRS, TUV, DNV, BVIS (Third
                party agencies)</li>
            </ul>
            
        </div>
    </div>
  
{% endblock %}