
{% extends 'layout.html' %}

{% block body %}


<div class="ps-outer-info-container">
        <div class="ps-upper-info">
            <h1>Waste Tyre Recycling Plant Manufacturer</h1>
            <p>We are a renowned manufacturer and supplier of a comprehensive range of Waste Tyre Recycle Plant, Industrial Vessels,
            Heat Exchangers, Air Receivers & Dryers, Heavy Structure Works, Storage Tanks and Industrial Reactors. These products
            are manufactured using supreme quality raw material and hi-tech machines. Our products are widely demanded for their
            attributes like easy installation, user-friendliness, durability, hassle-free performance, durability, corrosion
            resistance and minimum maintenance. We offer these products in different specifications to our valuable customers,
            spread across the nation.</p>
        </div>
        {% for cat in categories %}
            <div class="inside-ps-info">
                <div class="ps-outer-info-upperdack">
                    <h1><a href="/facilities_products/{{cat.category}}">{{cat.category}}</a></h1>
                    <p> {{cat.desc}} </p>
                    <h4><a href="/facilities_products/{{cat.category}}">View More</a></h4>
                </div>
                <div class="ps-outer-info-lowerdack">                                       
                    <!-- <div class="in-1"> -->
                    {% for imgs in images %}
                            {% if imgs.category == cat.category%}                                                                
                                <div class="items-slider">
                                    <img src="{{imgs.image.url}}" alt="{{imgs.category}}" class="d-block w-100">
                                </div>                                                                          
                                                                                                        
                            {% endif %}
                    {% endfor %}  
                    <!-- </div>                                                -->
                </div>
                
             
                <!-- <div class="ps-outer-info-lowerdack">
                    {% for imgs in images %}   
                    <div class="ps-imgs">
                        {% if imgs.category == cat.category%}
                            <img src="{{imgs.image.url}}" alt="{{imgs.category}}" width="250px" height="250px">
                        {% endif %}
                    </div>
                    {% endfor  %} 
                </div> -->
            </div>
        {% endfor %}        
    </div>

    <div class="home-profile">
        <div class="home-profile-title">Products And Services</div>
        <hr>
    </div>

    <div class="display-services-home">

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Condensers</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Amonia Condensers</p>
                <p>Condensers</p>
                <p>Surface Condensers</p>                
                <p><a style="font-size: 20px;" href="/facilities_products/condensers">View Details ></a></p>
            </div>
        </div>



        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Tyre Recycling Plant</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Tyre Pyrolysis Plant</p>
                <p>Tyre Recycling Plant</p>
                <p>Tire Pyrolysis Plant 10 Ton</p>                
                <p><a style="font-size: 20px;" href="/tyre_recycling_plant">View Details ></a></p>
            </div>
        </div>



        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Heat Exchangers</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Tube Heat Exchangers</p>
                <p>Straight Heat Exchangers</p>
                <p>Tube & Shell Heat Exchangers</p>
                <p><a style="font-size: 20px;" href="/heat_exchangers">View Details ></a></p>
            </div>
        </div>

        
        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Storage Tanks</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Fuel Storage Tanks</p>
                <p>Rubber Lining Tanks</p>
                <p>SS Storage Tanks</p>
                <p><a style="font-size: 20px;" href="/industrial_storage_tanks">View Details ></a></p>
            </div>
        </div>

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Pressure Vessels</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Stainless Steel Pressure Vessels</p>
                <p>Pressure Vessels</p>
                <p>Chemical Pressure Vessels</p>
                
                <p><a style="font-size: 20px;" href="/pressure_vessels">View Details ></a></p>
            </div>
        </div>

    
        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Chimeny</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Industrial Chimeny</p>
                <p>Large Industrial Chimenys</p>                            
                <p><a style="font-size: 20px;" href="/chimeny">View Details ></a></p>
            </div>
        </div>

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Reactors</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>High Pressure Reactors</p>
                <p>Chemical Reactors</p>                            
                <p>Reactor Vessels</p>                            
                <p><a style="font-size: 20px;" href="/industrial_reactors">View Details ></a></p>
            </div>
        </div>


        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Fabrication Service</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>MS Heavy Fabrication Service</p>
                <p>Chimney Fabrication Services</p>                               
                <p><a style="font-size: 20px;" href="industrial_fabrication_service">View Details ></a></p>
            </div>
        </div>

    </div>
  

{% endblock %}