
{% extends 'layout.html' %}

{% block body %}


<div class="ps-outer-info-container">
        <div class="ps-upper-info">
            <h1>Waste Tyre Recycling Plant Manufacturer</h1>
            <p>We are a renowned manufacturer and supplier of a comprehensive range of Waste Tyre Recycle Plant, Industrial Vessels,
            Heat Exchangers, Air Receivers & Dryers, Heavy Structure Works, Storage Tanks and Industrial Reactors. These products
            are manufactured using supreme quality raw material and hi-tech machines. Our products are widely demanded for their
            attributes like easy installation, user-friendliness, durability, hassle-free performance, durability, corrosion
            resistance and minimum maintenance. We offer these products in different specifications to our valuable customers,
            spread across the nation.</p>
        </div>
        {% for cat in categories %}
            <div class="inside-ps-info">
                <div class="ps-outer-info-upperdack">
                    <h1><a href="/facilities_products/{{cat.category}}">{{cat.category}}</a></h1>
                    <p> {{cat.desc | safe}} </p>
                    <h4><a href="/facilities_products/{{cat.category}}">View More</a></h4>
                </div>
                <div class="ps-outer-info-lowerdack">                                       
                    <!-- <div class="in-1"> -->
                    {% for imgs in images %}
                            {% if imgs.category == cat.category%}                                                                
                                <div class="items-slider">
                                    <img src="{{imgs.image.url}}" alt="{{imgs.category}}" class="d-block w-100">
                                </div>                                                                          
                                                                                                        
                            {% endif %}
                    {% endfor %}  
                    <!-- </div>                                                -->
                </div>
                
             
                <!-- <div class="ps-outer-info-lowerdack">
                    {% for imgs in images %}   
                    <div class="ps-imgs">
                        {% if imgs.category == cat.category%}
                            <img src="{{imgs.image.url}}" alt="{{imgs.category}}" width="250px" height="250px">
                        {% endif %}
                    </div>
                    {% endfor  %} 
                </div> -->
            </div>
        {% endfor %}        
    </div>

    
  

{% endblock %}