
{% extends 'layout.html' %}

{% block body %}

    <h1> Facilities and Product </h1> 

    {% for cat in categories %}
        <a href="/facilities_products/{{cat.category}}"><h1> {{cat.category}} </h1></a>
        <h3> {{cat.desc}} </h3>

        {% for imgs in images %}
            <!-- {{imgs.category}} {{cat.category}} -->
            {% if imgs.category is cat.category %}
                <img src="{{imgs.image.url}}" alt="{{imgs.category}}" width="250px" height="250px">
            {% endif %}
        {% endfor %}
    {% endfor %}


    <div class="home-profile">
        <div class="home-profile-title">Products And Services</div>
        <hr>
    </div>

    <div class="display-services-home">

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Condensers</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Amonia Condensers</p>
                <p>Condensers</p>
                <p>Surface Condensers</p>                
                <p><a style="font-size: 20px;" href="/facilities_products/condensers">View Details ></a></p>
            </div>
        </div>



        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Tyre Recycling Plant</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Tyre Pyrolysis Plant</p>
                <p>Tyre Recycling Plant</p>
                <p>Tire Pyrolysis Plant 10 Ton</p>                
                <p><a style="font-size: 20px;" href="/tyre_recycling_plant">View Details ></a></p>
            </div>
        </div>



        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Heat Exchangers</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Tube Heat Exchangers</p>
                <p>Straight Heat Exchangers</p>
                <p>Tube & Shell Heat Exchangers</p>
                <p><a style="font-size: 20px;" href="/heat_exchangers">View Details ></a></p>
            </div>
        </div>

        
        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Storage Tanks</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Fuel Storage Tanks</p>
                <p>Rubber Lining Tanks</p>
                <p>SS Storage Tanks</p>
                <p><a style="font-size: 20px;" href="/industrial_storage_tanks">View Details ></a></p>
            </div>
        </div>

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Pressure Vessels</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Stainless Steel Pressure Vessels</p>
                <p>Pressure Vessels</p>
                <p>Chemical Pressure Vessels</p>
                
                <p><a style="font-size: 20px;" href="/pressure_vessels">View Details ></a></p>
            </div>
        </div>

    
        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Chimeny</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Industrial Chimeny</p>
                <p>Large Industrial Chimenys</p>                            
                <p><a style="font-size: 20px;" href="/chimeny">View Details ></a></p>
            </div>
        </div>

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Reactors</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>High Pressure Reactors</p>
                <p>Chemical Reactors</p>                            
                <p>Reactor Vessels</p>                            
                <p><a style="font-size: 20px;" href="/industrial_reactors">View Details ></a></p>
            </div>
        </div>


        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Fabrication Service</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>MS Heavy Fabrication Service</p>
                <p>Chimney Fabrication Services</p>                               
                <p><a style="font-size: 20px;" href="industrial_fabrication_service">View Details ></a></p>
            </div>
        </div>

    </div>
  
{% endblock %}