
{% extends 'layout.html' %}

{% block body %}
  
    <div class="name">
        <div class="cname">
            Shree Ram Engineers
        </div>
        <div class="details">            
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br>Adipisci vel voluptatem repudiandae <br> architecto molestias beatae facilis molestiae ip<br>sam blanditiis a commodi ad simil<br>ique voluptate tempora, nihil<br> ipsa unde nostrum optio.
        </div>
    </div>
    <div class="home-profile">
        <div class="home-profile-title">Profile</div>
        <hr>
        <div class="home-profile-text">Established in the year 2007, we, “Shree Ram Engineers”, are engaged in manufacturing and supplying a wide array of Industrial Vessels, Heat Exchangers, Air Receivers & Dryers, Heavy Structure Works, Storage Tanks and Industrial
        Reactors. Our comprehensive range comprises Pressure Vessels, Stainless Steel Vessels, Limped Coil Pressure Vessels,
        Surface Condensers, Shell And Tube Heat Exchangers and Double Tube Sheet Heat <a href="/about_us" style="color: blue;"> +Read more..</a> </div>        
    </div>
    <div class="symb-info">        
        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    business_center
                </span>                
            </div>
            <div class="symb-info-text">
                <p>Nature of Business</p>
                <span>manufacturer</span>
            </div>
        </div>

        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    engineering
                </span>
            </div>
            <div class="symb-info-text">
                <p>Number of employees</p>
                <span>11 to 25 people</span>
            </div>
        </div>
        
        
        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    business
                </span>
            </div>
            <div class="symb-info-text">
                <p>Year of establishment</p>
                <span>2007</span>
            </div>
        </div>
        
        
        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                group_work
                </span>
            </div>
            <div class="symb-info-text">
                <p>Legal staus of firm</p>
                <span>Partnership firm</span>
            </div>
        </div>        
        
        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    account_balance
                </span>
            </div>
            <div class="symb-info-text">
                <p>Annual Ternover</p>
                <span>Rs 5 - 10 Crore</span>
            </div>
        </div>        


        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    feed
                </span>
            </div>
            <div class="symb-info-text">
                <p>GST Number</p>
                <span>24ABKFS8560L1ZK</span>
            </div>
        </div>        
        
    </div>







    <div class="home-profile">
        <div class="home-profile-title">Products And Services</div>
        <hr>
    </div>
    <div class="display-services-home">

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Condensers</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Amonia Condensers</p>
                <p>Condensers</p>
                <p>Surface Condensers</p>                
                <p><a style="font-size: 20px;" href="#">View Details ></a></p>
            </div>
        </div>



        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Tyre Recycling Plant</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Tyre Pyrolysis Plant</p>
                <p>Tyre Recycling Plant</p>
                <p>Tire Pyrolysis Plant 10 Ton</p>                
                <p><a style="font-size: 20px;" href="#">View Details ></a></p>
            </div>
        </div>



        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Heat Exchangers</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Tube Heat Exchangers</p>
                <p>Straight Heat Exchangers</p>
                <p>Tube & Shell Heat Exchangers</p>
                <p><a style="font-size: 20px;" href="#">View Details ></a></p>
            </div>
        </div>

        
        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Storage Tanks</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Fuel Storage Tanks</p>
                <p>Rubber Lining Tanks</p>
                <p>SS Storage Tanks</p>
                <p><a style="font-size: 20px;" href="#">View Details ></a></p>
            </div>
        </div>

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Pressure Vessels</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Stainless Steel Pressure Vessels</p>
                <p>Pressure Vessels</p>
                <p>Chemical Pressure Vessels</p>
                
                <p><a style="font-size: 20px;" href="#">View Details ></a></p>
            </div>
        </div>

    
        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Chimeny</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>Industrial Chimeny</p>
                <p>Large Industrial Chimenys</p>                            
                <p><a style="font-size: 20px;" href="#">View Details ></a></p>
            </div>
        </div>

        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Reactors</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>High Pressure Reactors</p>
                <p>Chemical Reactors</p>                            
                <p>Reactor Vessels</p>                            
                <p><a style="font-size: 20px;" href="#">View Details ></a></p>
            </div>
        </div>


        <div class="display-services-home-item">
            <div class="display-services-home-item-upperdock">
                <img  src="https://images.unsplash.com/photo-1541963463532-d68292c34b19?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NXx8fGVufDB8fHx8&w=1000&q=80" alt="Error">
                <h3>Industrial Fabrication Service</h3>
            </div>
            <div class="display-services-home-item-lowerdock">
                <p>MS Heavy Fabrication Service</p>
                <p>Chimney Fabrication Services</p>                               
                <p><a style="font-size: 20px;" href="#">View Details ></a></p>
            </div>
        </div>

    </div>


    <!-- <div class="policy">
        <div class="heading">
            COMPANY POLICY
        </div>
        <div class="content">
            We are a professionally managed engineering company, and
            Are committed to manufacture and deliver defect – free
            Products / services as per customer’s specifications. We seek
            Active participation / support of our customers, employees
            And Vendors, for continuous improvements in the products /
            Services provided by us.
        </div>
    </div> -->

{% endblock %}