
{% extends 'layout.html' %}

{% block body %}
  
    <div class="name">
        <div class="cname">
            SHREE RAM ENGINEERS
        </div>
        <div class="details">
            NAME OF ORGANISATION : SHREE RAM ENGINEERS
            <br>
            NAME OF PARTNERS : DINESH PANCHAL
            <br>
            ADDRESS : PLOT NO. 280, ROAD NO. 2,
            GIDC, KATHWADA
            AHMEDABAD. 
            <br>
            NATURE OF BUSINESS : -DESIGNING AND
            MANUFACTURING OF
            MECHANICAL EQUIPMENTS
            -INDUSTRIAL STRUCTURES
            INCLUDING PIPING
        </div>
    </div>

    <div class="policy">
        <div class="heading">
            COMPANY POLICY
        </div>
        <div class="content">
            We are a professionally managed engineering company, and
            Are committed to manufacture and deliver defect – free
            Products / services as per customer’s specifications. We seek
            Active participation / support of our customers, employees
            And Vendors, for continuous improvements in the products /
            Services provided by us.
        </div>
    </div>


{% endblock %}