
{% extends 'layout.html' %}

{% block body %}
  
    <div class="name">
        <div class="cname">
            Shree Ram Engineers
        </div>
        <div class="details">            
            Lorem ipsum dolor sit amet <br> consectetur adipisicing elit. <br>Adipisci vel voluptatem repudiandae <br> architecto molestias beatae facilis molestiae ip<br>sam blanditiis a commodi ad simil<br>ique voluptate tempora, nihil<br> ipsa unde nostrum optio.
        </div>
    </div>
    <div class="home-profile">
        <div class="home-profile-title">Profile</div>
        <hr>
        <div class="home-profile-text">Established in the year 2007, we, “Shree Ram Engineers”, are engaged in manufacturing and supplying a wide array of Industrial Vessels, Heat Exchangers, Air Receivers & Dryers, Heavy Structure Works, Storage Tanks and Industrial
        Reactors. Our comprehensive range comprises Pressure Vessels, Stainless Steel Vessels, Limped Coil Pressure Vessels,
        Surface Condensers, Shell And Tube Heat Exchangers and Double Tube Sheet Heat <a href="/about_us" style="color: blue;"> +Read more..</a> </div>        
    </div>
    <div class="symb-info">        
        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    business_center
                </span>                
            </div>
            <div class="symb-info-text">
                <p>Nature of Business</p>
                <span>manufacturer</span>
            </div>
        </div>

        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    engineering
                </span>
            </div>
            <div class="symb-info-text">
                <p>Number of employees</p>
                <span>11 to 25 people</span>
            </div>
        </div>
        
        
        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    business
                </span>
            </div>
            <div class="symb-info-text">
                <p>Year of establishment</p>
                <span>2007</span>
            </div>
        </div>
        
        
        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                group_work
                </span>
            </div>
            <div class="symb-info-text">
                <p>Legal staus of firm</p>
                <span>Partnership firm</span>
            </div>
        </div>        
        
        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    account_balance
                </span>
            </div>
            <div class="symb-info-text">
                <p>Annual Ternover</p>
                <span>Rs 5 - 10 Crore</span>
            </div>
        </div>        


        <div class="symb-info-item1">
            <div class="symb-info-symb">
                <span class="material-icons">
                    feed
                </span>
            </div>
            <div class="symb-info-text">
                <p>GST Number</p>
                <span>24ABKFS8560L1ZK</span>
            </div>
        </div>        
        
    </div>


    <!-- <div class="policy">
        <div class="heading">
            COMPANY POLICY
        </div>
        <div class="content">
            We are a professionally managed engineering company, and
            Are committed to manufacture and deliver defect – free
            Products / services as per customer’s specifications. We seek
            Active participation / support of our customers, employees
            And Vendors, for continuous improvements in the products /
            Services provided by us.
        </div>
    </div> -->

{% endblock %}